.sidenav {
  width: 240px;
  background: transparent;
  position: fixed;
  height: 100vh;
  padding: 10px;
  border-radius: 0 50px;
  left: -100%;
  transition: all 0.3s;
}

.sidenav.active {
  left: 0px;
  margin-top: 12vh;
}

.navUl {
  padding: 5px;
}

.navUl > li {
  list-style-type: none;
  margin: 5px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  padding: 15px;
  gap: 15px;
}

.navUl> li :hover {
  transform: scale(1.2);
  border-bottom: 2px solid whitesmoke;
  margin-left: 25px;
  color: aquamarine;
}

.navSortUl{
  display: none;
}

@media only screen and (max-width: 580px) {
  .navUl{
    display: none;
  }
  .navSortUl {
    display: contents;
  }
  .sidenav {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: -100%;
    left: 0;
    height: 10vh;
    padding: 20px;
    background: transparent;
    width: 50%;
    margin-left: 15%;
  }
  .sidenav.active{
    top: 0px;
    margin-top: 0vh;
  }
  ul{
    list-style-type: none;
    display: inline;
  }
  
}