.project {
  background-color: #6daddb;
  background-image: linear-gradient(315deg, #6daddb 0%, #313131 74%);
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 45px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding: 25px;
}

.project::-webkit-scrollbar {
  display: none;
}


.project {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.projects {
  display: flex;
  flex-direction: column;
  border: solid 2px white;
  border-radius: 0px 50px 0px 50px;
  width: 100%;
  max-width: 450px;
  height: 600px;
  margin-top: 55px;
  padding: 10px;
}

.projectImg > img {
  width: 100%;
  height: 400px;
  padding-top: 10px;
  border-radius: 50px 0 50px 0;
}

.projectDetails {
  margin: 25px;
  font-size: large;
}
