.footer {
    position: fixed;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
    right: 10px;
    bottom: 15%;
    transition: all 0.5s;
    
}
  
.footer.active {
    bottom: 100%;
    margin-bottom: 7%;
}

.footUl{
    list-style-type: none;
    
}


