.App {
  text-align: center;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  color: white;
}

.headerBtn {
  position: fixed;
  transform: scale(2);
  cursor: pointer;
  margin: 35px;
}

.headerBtn :hover {
  color: rgb(167, 211, 21);
  
}

.footerBtn{
  position: fixed;
  transform: scale(1.7);
  cursor: pointer;
  right: 25px;  
  bottom: 45px;
  
  
}

.footerBtn :hover {
  color: rgb(201, 234, 12);
  
}
