.App {
  text-align: center;
}

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  color: white;
}

header {
  padding: 45px;
  background: transparent;
  position: fixed;
  transform: scale(2);
  cursor: pointer;
}

header :hover {
  color: rgb(9, 35, 61);
}

.socialLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  padding: 45px;
  background: transparent;
  position: fixed;
  transform: scale(2);
  cursor: pointer;
  right: 0;
  top: 60%;
}
